{% extends "base.html" %}

{% block content %}
  <div class="container my-2">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Clients</h2>
      Show archived
      {% include "../partials/button_new_client.html" with coach_id=user.id %}
    </div>
    {% for client in object_list %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4">
              <h5>{{ client.name }}</h5>
              <p>
                <a href="mailto:{{ client.email }}">{{ client.email }}</a>
              </p>
            </div>
            <div class="col-12 col-md-4">
              <p>{{ client.company }}, {{ client.position }}</p>
            </div>
            <div class="col-12 col-md-4">
              <p>Coaching Hours: {{ client.hours_ordered }}/{{ client.hours_delivered }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <p>{{ client.phone }}</p>
            </div>
            <div class="col-12 col-md-8">
              <details>
                <summary>Coaching goal</summary>
                <p>{{ client.coaching_goal }}</p>
              </details>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <a href="{% url 'coach:client_archive' pk=client.id %}"
                 class="btn btn-outline-primary d-flex align-items-center justify-content-center mx-2"
                 title="View previous sessions">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-calendar-week"
                     viewBox="0 0 16 16">
                  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                </svg>
              </a>
            </div>
            <div class="d-flex justify-content-end">
              {% include "partials/button_edit_client.html" with client_id=client.id button_text="Edit Client" %}
              {% include "partials/button_archive_client.html" with client_id=client.id %}
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <li>No clients yet. Create one.</li>
    {% endfor %}
  </div>
{% endblock content %}
